.navbarContainer {
    position: fixed;
    bottom: 3vh;
    left: 0;
    right: 0;
    background: rgba( 5, 0, 142, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  
  
.editProfilePage {
    margin: 0; height: 100%; overflow: hidden
}

.tile {
background: rgba( 5, 0, 142, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15.5px );
-webkit-backdrop-filter: blur( 15.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin: 5%;
padding: 2%;
}

.upvoteButtonOuter {

}